html {
  scroll-behavior: smooth;
  word-break: keep-all;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animatedBox {
  animation: Appear 1s linear 0s normal;
}

.oppacityControl {
  opacity: 0;
  animation: OpacityControl 1s linear 1s forwards;
}

@keyframes Appear {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes OpacityControl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropShadowed {
  filter: drop-shadow(-7.5px 7.5px 10px gray);
}

.aitLogo {
  width: 515px;
  margin-bottom: 64px;
}

.IRSwiperSlide {
  width: 50vw;
}

@media (max-width: 900px) {
  .IRSwiperSlide {
    width: 100vw;
  }
  .pdGIF {
    min-width: 70vw;
  }
}

@media (max-width: 600px) {
  .aitLogo {
    width: 80vw;
    margin-bottom: 40px;
  }
}
